.main-content-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 98vh;
  width: var(--screen-width);
}

.img_fundo {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.main-content-img {
  max-width: 300px;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 35px 68px 15px hsla(0, 0%, 0%, 0.25);
  animation: circleanimation 3s infinite;
}

.main-content-titles {
  font-family: "Josefin Slab";
  font-size: 36px;
}

.main-content-titles h1 {
  font-size: 80px;
}

.main-content-img-div {
  position: relative;
}

.main-content-img-div div {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  background-color: hsla(295, 92%, 81%, 0.49);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.main-content-img-div .circle-1 {
  top: -12px;
  left: -25px;
}

.main-content-img-div .circle-2 {
  top: -25px;
  left: 25px;
}

@media (max-width: 900px) {
  .main-content {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;
  }

  .main-content img {
    max-width: 200px;
  }

  .main-content-titles {
    padding-top: 200px;
  }
}

@keyframes circleanimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
